@page
@model MyPortfolio.Web.Pages.ExperiencesModel
@{
    ViewData["Title"] = "My Experiences";
}

<ul>
    @foreach (var post in Model.Posts)
    {
        <li>
            <p>@post.Title</p>
        </li>
    }
</ul>