@page
@model MyPortfolio.Web.Pages.ExperiencesModel
@{
    ViewData["Title"] = "My Experiences";
}

<ul>
    @if (Model.Posts.Count > 0){
        @foreach (var post in Model.Posts)
        {
            <li>
                <h1>@post.Title</h1>
                <p>@post.Content[0].Text</p>
            </li>
        }
    }
    else {
        <li>
            <p>No posts found</p>
        </li>
    }
</ul>