@page
@model IndexModel
@{
    ViewData["Title"] = "My Portfolio";
}
@*Simple Razor logic
    <div>
    @{ 
        var sum = 1 + 2;

        var menu = new string[] { "coffee", "cake", "pizza" };

        <h2>The sum is : @sum</h2>

        @if(sum > 2)
        {
            <p>This was condititionally rendered.</p>
        }
<ul>
    @foreach (var item in menu)
	{
    <li>@item</li>
		 
	}
</ul>
    }
</div>*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
