@page
@model MyPortfolio.Web.Pages.PostEditModel
@{
}
<h1>Edit</h1>
<p>
    <a asp-page="Edit">Editing @Model.Post.Title</a>
</p>
<form method="post" class="formPost" asp-page="PostEdit">
    <input hidden asp-for="Post.Id" />
    <p>
        @*Set up proper label tag helper through [Display] attributes
            <label asp-for="Post.Title"/>*@
        
        <label asp-for="Post.Title">Title</label>
        <input asp-for="Post.Title" type="text" />
    </p>
    <p>
        <label asp-for="Post.CategoryId">Category</label>
        <select asp-for="Post.CategoryId" asp-options=""
                asp-items="Model.Categories">
            @* @(new SelectList(Model.Categories,"Id","Name")) *@
            <option>Select Category</option>
        </select>
    </p>

    @* Content Per Language Editor
        Would be nice if it were raw html, or have some kind of markup *@
    @for (int i = 0; i < Model.Post.Content.Count; i++)
    {
    <p>
        <label>@Model.Languages.Where(l => l.Id == Model.Post.Content[i].LanguageId).FirstOrDefault().Name</label>
        <input hidden asp-for="Post.Content[i].LanguageId" />
        <input hidden asp-for="Post.Content[i].Id" />
        <textarea hidden asp-for="Post.Content[i].Text" class="rtEditor@(i)" type="text"></textarea>
        <div id="rtEditor@(i)"></div>
    </p>
    }
    <p>
        <label asp-for="Post.Public">Public: </label>
        <input asp-for="Post.Public" type="checkbox" />
    </p>
    <button type="submit" asp-route="@Model.Post.Id" class="btn btn-success" id="sendPostButton">Update</button>
    <a asp-page="/Index/">Back</a>
</form>
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script type="text/javascript">
var options = {
    //debug: 'info',
    //readOnly: false,
    theme: 'snow'
};
    @for (int i = 0; i < Model.Post.Content.Count; i++){
<text>
var quill@(i) = new Quill('#rtEditor@(i)', options);
var contentText@(i) = document.querySelector(".rtEditor@(i)");
//quill@(i).setText(contentText@(i).value);
quill@(i).root.innerHTML = contentText@(i).value;
</text>
    }

    var form = document.querySelector('.formPost');
form.onsubmit = function(){
@for (int i = 0; i < Model.Post.Content.Count; i++){
<text>
    var contentText@(i) = document.querySelector(".rtEditor@(i)");
    contentText@(i).value = quill@(i).root.innerHTML;
    console.log(contentText@(i).value);
    //console.log(quill@(i).root.innerHTML);

</text>
}
};
</script>